body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.mcqContainer {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

#pdf-container {
    width: 50%;
    height: 100%;
    padding: 0;
}

#pdf-container>iframe {
    height: 100vh;
    width: 50vw;
    border: none;
}

#message-container {
    display: flex;
    width: 50%;
    height: 100%;
    background-color: #f0f0f0;
}

.tabs {
    background-color: #023047;
    display: flex;
    justify-content: space-between;
    gap: 18px;
    width:100%;
    padding: 10px;
}

.tab-content {
    width: 100%;
    height: 100%;
}

.tab-btn {
    background-color: #ffb703;
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    padding: 14px 24px;
    text-wrap: nowrap;
    border: none;
    outline: none;
    flex: 1;
    text-align: center;
    border-radius: 8px;
}

.tab-btn.active {
    background-color: #fb8501;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.right-container {
    background-color: azure;
    width: 100%;
}


/* Media query for mobile devices */
@media only screen and (max-width: 900px) {
    #pdf-container {
        width: 100vw;
        height: 50%;
    }

    #message-container {
        width: 100vw;
        height: 50%;
        padding: 20px;
    }

    .right-container {
        padding: 0px;
    }

    #pdf-container>iframe {
        height: 50vh;
        width: 100vw;
    }

    #container {
        flex-wrap: wrap;
        flex-direction: column;
    }
}


/* Api CSS adding */
#mcqs,
#fib,
#summary,
#qa {
    height: 100%;
    width: 100%;
    padding: 30px 36px;
    position: absolute;
    overflow-y: hidden;
    overflow-x: hidden;
}

.item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.name {
    font-weight: bold;
    margin-bottom: 5px;
}

.data {
    margin-left: 20px;
}


/* MCQS Layout css */
.quiz-container {
    width: 400px;
    margin: 0px 0px 0px 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.question {
    font-size: 26px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px 0;
    padding: 24px 8px 4px 8px;
}

.options {
    width: 600px;
    padding: 0;
    display: flex;
    flex-direction: column;
}


.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-weight: 500;
    margin-bottom: 14px;
    /* padding: 14px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    border-color: #023047;
    background-color: #b6e0f4;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
}

.option input[type='checkbox'] {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 14px;
}

.option label {
    margin-left: 20px;
    cursor: pointer;
    width: 100%;
    padding: 14px;
}

.option:hover {
    background-color: none;
}

/* reveal answer btn starts here */

.revealAnswerBtn {
    padding: 16px;
    cursor: pointer;
    width: 30%;
}

.revealAnswerBtn {
    width: 170px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    position: relative;
    /* background: #e62222; */
   }
   
   .revealAnswerBtn, .revealAnswerBtn span {
    transition: 200ms;
   }
   
   .revealAnswerBtn .text {
    color: white;
    font-weight: bold;
   }
   
   .revealAnswerBtn .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .revealAnswerBtn svg {
    width: 15px;
    fill: #eee;
   }
   
   .revealAnswerBtn:hover {
    background: #ff3636;
   }
   
   .revealAnswerBtn:hover .text {
    color: transparent;
   }
   
   .revealAnswerBtn:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   .revealAnswerBtn:focus {
    outline: none;
   }
   
   .revealAnswerBtn:active .icon svg {
    transform: scale(0.8);
   }

   /* reveal answer btn ends here */


.btn-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ff9635;
    color: #fff;
}

.correct {
    background-color: #c9ffdb;
    color: #023047;
    border-color: green;
    border-width: 1.5px;
}

.incorrect {
    background-color: #fdd6d7;
    color: #023047;
    border-color: red;
    border-width: 1.5px;
}